In [2]:
%reload_ext autoreload
%autoreload 2
from python.t_test_auto import df_gd_builder, league_ttest, df_total_goal_builder, df_draw_percent_builder
from sqlalchemy import create_engine
import pandas as pd

In [4]:
df_gd_builder('total_goal_dif', 'England Premier League')

                       club  total_goal_dif
0         Manchester United           302.0
1           Manchester City           299.0
2                   Chelsea           297.0
3                   Arsenal           253.0
4                 Liverpool           194.0
5               Aston Villa           165.0
6         Tottenham Hotspur           123.0
7            Wigan Athletic           120.0
8          Newcastle United           108.0
9                Sunderland           108.0
10     West Bromwich Albion           100.0
11                Hull City            99.0
12             Norwich City            93.0
13                  Everton            88.0
14  Wolverhampton Wanderers            86.0
15          West Ham United            85.0
16               Stoke City            85.0
17      Queens Park Rangers            84.0
18         Blackburn Rovers            77.0
19                   Fulham            76.0
20         Bolton Wanderers            72.0
21                  Burnley            65.0
22              Southampton            58.0
23               Portsmouth            51.0
24             Cardiff City            42.0
25           Leicester City            41.0
26           Crystal Palace            31.0
27                  Reading            30.0
28          Birmingham City            30.0
29            Middlesbrough            29.0
30             Swansea City            24.0
31                Blackpool            23.0
32              Bournemouth            22.0
33                  Watford            10.0

SyntaxError: invalid syntax (<ipython-input-5-1bb2594d1150>, line 1)

### Testing Functions to conduct multiple T-Tests

In [11]:
#

df_germany = df_total_goal_builder('gol_for', 'Germany 1. Bundesliga')
epl = df_total_goal_builder('gol_for', 'England Premier League')
league_ttest(epl, df_germany,'gol_for', 0.005)

'T-Critical = 2.756385903670335, T-Value = gol_for   -0.160469\ndtype: float64, P-Value = [0.87362455]'

In [20]:
engine = create_engine('postgresql:///soccer_database')
df_draw_league = pd.read_sql_query(f"""SELECT club, SUM(draws)/SUM(win+loss+draws) AS draw_percent
                         FROM team_stats 
                         WHERE league = 'England Premier League'
                         GROUP BY club
                         ORDER BY draw_percent DESC;""", engine)

In [32]:
epl = df_draw_percent_builder('draw_percent', 'England Premier League')
names = ['Spain LIGA BBVA', 'Germany 1. Bundesliga', 'Italy Serie A']
for name in names:
    df_leagues = []
    name = df_draw_percent_builder('draw_percent', name)
    df_leagues.append(name)
    
    for league, name in zip(df_leagues,names):
        ttests = []
        ttest_results = league_ttest(epl, league, 'draw_percent', 0.05)
        ttests.append(ttest_results)
        print(f"{name}", ttests)

Spain LIGA BBVA ['T-Critical = 1.6938887423906548, T-Value = draw_percent   -2.592767\ndtype: float64, P-Value = [0.01423474]']
Spain LIGA BBVA ['T-Critical = 1.6991270265334972, T-Value = draw_percent   -0.447085\ndtype: float64, P-Value = [0.65813529]']
Spain LIGA BBVA ['T-Critical = 1.6955187891366663, T-Value = draw_percent    1.10099\ndtype: float64, P-Value = [0.27937686]']

In [10]:
df_laliga

                         club  draw_percent
0   RC Deportivo de La Coruña      0.324561
1            Racing Santander      0.309211
2             Real Valladolid      0.309211
3                  Córdoba CF      0.289474
4                  CA Osasuna      0.280702
5                    Elche CF      0.276316
6               Villarreal CF      0.266917
7        Xerez Club Deportivo      0.263158
8               Real Sociedad      0.258772
9                   Málaga CF      0.256579
10        Real Betis Balompié      0.247368
11                 Levante UD      0.245614
12                Valencia CF      0.243421
13                 UD Almería      0.242105
14               RCD Espanyol      0.240132
15              RC Recreativo      0.236842
16                   SD Eibar      0.236842
17                CD Tenerife      0.236842
18    Athletic Club de Bilbao      0.233553
19                  Getafe CF      0.233553
20     Real Sporting de Gijón      0.231579
21               RCD Mallorca      0.231579
22           RC Celta de Vigo      0.230263
23                 Granada CF      0.226316
24              Real Zaragoza      0.223684
25                 Sevilla FC      0.213816
26              UD Las Palmas      0.210526
27    Hércules Club de Fútbol      0.210526
28            Atlético Madrid      0.194079
29             Rayo Vallecano      0.147368
30               FC Barcelona      0.141447
31                CD Numancia      0.131579
32             Real Madrid CF      0.118421

In [12]:
epl

                       club  draw_percent
0           Birmingham City      0.342105
1                   Everton      0.328947
2                Sunderland      0.302632
3               Aston Villa      0.289474
4             Middlesbrough      0.289474
5                Stoke City      0.282895
6           West Ham United      0.278195
7      West Bromwich Albion      0.274436
8              Swansea City      0.273684
9            Wigan Athletic      0.273684
10                   Fulham      0.271930
11             Norwich City      0.269737
12                Hull City      0.269737
13                  Reading      0.263158
14              Southampton      0.263158
15           Leicester City      0.263158
16         Blackburn Rovers      0.256579
17                Liverpool      0.250000
18  Wolverhampton Wanderers      0.245614
19         Newcastle United      0.244361
20        Tottenham Hotspur      0.243421
21                  Arsenal      0.240132
22              Bournemouth      0.236842
23                Blackpool      0.236842
24               Portsmouth      0.236842
25             Cardiff City      0.236842
26                  Burnley      0.236842
27                  Watford      0.236842
28                  Chelsea      0.230263
29      Queens Park Rangers      0.228070
30         Bolton Wanderers      0.217105
31           Crystal Palace      0.210526
32          Manchester City      0.200658
33        Manchester United      0.187500

In [ ]:
fig, axs = plt.subplots(1, 2, gridspec_kw={'wspace': 2}, figsize=(8, 10))
(ax1, ax2) = axs
ax1.barh(epl['club'], df_epl['draw_percent'])

ax2.barh(df_laliga['club'], df_laliga['draw_percent'])

ax1.set_xlabel('Draw %')
ax2.set_xlable('Draw %')